@use '../global.scss';

.header {
  background-color: #000;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  border-bottom: 1pz solid #333;
  
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
   
  }

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }

  &__links {
    display: flex;
    gap: 1rem;
  }

  &__link {
    color: #d1d5db;
    text-decoration: none;
    padding: 0.5rem 0.75rem;

    &:hover {
      color: #fff;
    }
  }
}
