@use '../global.scss';

.page-title {
  font-size: 2.25rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

.photographers-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media(max-width:810px) {
  .photographers-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width:400px) {
  .photographers-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
