@use '../global.scss';

.photographer-header {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;

  &__name {
    font-size: 100vw;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1;
    color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    background-image: url('https://picsum.photos/seed/picsum4/800/600');
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__link {
    color: #60a5fa;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    width: 100%;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;

    text {
      fill: url(#image-fill);
      text-transform: uppercase;
      font-weight: bold;
      text-anchor: middle;


      tspan {
        transition: font-size 0.5s ease-in-out;
      }
    }
  }
}

.photographer-content {
  img {
    float: left;
    margin: 0 20px 10px 0;
    transform: rotate(3deg);
    border: 8px solid white;
    filter: grayscale(40%);
  }

  p {
    margin-top: unset;
    text-align: justify;
  }
}

.gallery-title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@media (max-width: 500px) {
  .photographer-content {
    img {
      float: none;
      display: block;
      margin: 0 auto 10px;
    }
  }
}
