@use '../global.scss';

.photographer-header {
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;

  &__name {
    font-size: 100vw;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    line-height: 1;
    color: transparent;
    text-transform: uppercase;
    font-weight: 700;
    background-image: url('https://picsum.photos/seed/picsum4/800/600');
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__link {
    color: #60a5fa;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  svg {
    width: 100%;

    text {
      fill: url(#image-fill);
      text-transform: uppercase;
      font-weight: bold;
      text-anchor: middle;

      tspan {
        transition: font-size 0.5s ease-in-out;
      }
    }
  }
}

.photographer-content {
  max-width: 800px;
  margin: 2rem auto;
}

.gallery-title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
