@use '../global.scss';

.photographer-header {
  text-align: center;
  max-width: 1500px;

  &__name {
    font-size: 2.25rem;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    font-size-adjust: cap-height 1;
    line-height: 125%;
    color: transparent;
    text-transform: uppercase;
    font-size: 150px;
    font-weight: 700;
    background-image: url('https://picsum.photos/seed/picsum4/800/600');
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }

  &__link {
    color: #60a5fa;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.photographer-content {
  max-width: 800px;
  margin: 2rem auto;
}

.gallery-title {
  font-size: 1.875rem;
  font-weight: bold;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}
