---
import '../../styles/pages/photographers.scss';
import Layout from '../../layouts/Layout.astro';
import { getCollection } from 'astro:content';
import PhotographerCard from '../../components/PhotographerCard.tsx';

const photographers = await getCollection('photographers');
---

<Layout title="Photographers">
  <h1 class="page-title">Memebers</h1>
  <div class="photographers-grid">
    {photographers.map(photographer => (
      <PhotographerCard photographer={photographer} client:load />
    ))}
  </div>
</Layout>
