@use '../styles/global.scss';

.bento-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;

  &__item {
    overflow: hidden;
    // border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    position: relative;

    &:hover .bento-gallery__info {
      opacity: 1;
    }
  }

  &__item--1 {
    grid-column: 1 / 3;
    grid-row: span 2;
  }

  &__item--2 {
    grid-column: 3 / 5;
    grid-row: span 1;
  }

  &__item--3 {
    grid-column: 3 / 4;
    grid-row: span 1;
  }

  &__item--4 {
    grid-column: 1 / 2;
    grid-row: span 1;
  }

  &__item--5 {
    grid-column: 2 / 3;
    grid-row: span 1;
  }

  &__item--6 {
    grid-column: 4 / 5;
    grid-row: span 2;
  }
  
  &__item--7 {
    grid-column: 1 / 2;
    grid-row: span 1;
  }

  &__item--8 {
    grid-column: 2 / 3;
    grid-row: span 1;
  }

  &__item--9 {
    grid-column: 3 / 5;
    grid-row: span 1;
  }

  &__item--10 {
    grid-column: 1 / 5;
    grid-row: span 1;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 0 6px;
  }

  &__photographer {
    font-size: 0.875rem;
    margin: 0 0 6px;
  }

  &__category {
    font-size: 0.875rem;
    margin: 0 0 6px;
  }
}
