@use '../styles/global.scss';

.bento-gallery {
  max-width: 1500px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 10px;

  &__item {
    overflow: hidden;
    // border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    position: relative;

    &:hover .bento-gallery__info {
      opacity: 1;
    }
  }

  // Best layout for 4x3 grid and 10 images
  &__item--1 {
    grid-area: p-1;
  }

  &__item--2 {
    grid-area: p-2;
  }

  &__item--3 {
    grid-area: p-3;
  }

  &__item--4 {
    grid-area: p-4;
  }

  &__item--5 {
    grid-area: p-5;
  }

  &__item--6 {
    grid-area: p-6;
  }

  &__item--7 {
    grid-area: p-7;
  }

  &__item--8 {
    grid-area: p-8;
  }

  &__item--9 {
    grid-area: p-9;
  }

  &__item--10 {
    grid-area: p-10;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 0 6px;
  }

  &__photographer {
    font-size: 0.875rem;
    margin: 0 0 6px;
  }

  &__category {
    font-size: 0.875rem;
    margin: 0 0 6px;
  }
}

.bento-gallery {
  &.default {
    grid-template-areas:
      "p-1 p-1 p-2 p-2"
      "p-1 p-1 p-3 p-3"
      "p-4 p-6 p-5 p-5"
      "p-7 p-8 p-5 p-5"
      "p-9 p-9 p-10 p-10"
    ;
  }

  &.hello {
    grid-template-areas:
      "p-1 p-4 p-2 p-3"
      "p-5 p-6 p-2 p-3"
      "p-7 p-8 p-9 p-10"
    ;
  }

  &.happy {
    grid-template-areas:
      "p-1 p-2 p-3 p-4"
      "p-5 p-2 p-3 p-6"
      "p-7 p-8 p-9 p-10"
    ;
  }

  &.hey {
    grid-template-areas:
      "p-1 p-2 p-3 p-4"
      "p-5 p-6 p-7 p-8"
      "p-9 p-9 p-10 p-10"
    ;
  }
}

@media (max-width: 810px) {
  .bento-gallery {
    grid-template-columns: 1fr;
    gap: 10px;

    &.default,
    &.hello,
    &.happy,
    &.hey {
      grid-template-areas: none;
    }

    &__item--1,
    &__item--2,
    &__item--3,
    &__item--4,
    &__item--5,
    &__item--6,
    &__item--7,
    &__item--8,
    &__item--9,
    &__item--10 {
      grid-area: auto;
    }
  }
}
