---
import '../styles/components/Footer.scss';
import { InstagramIcon, FacebookIcon, TwitterIcon, YoutubeIcon, SendIcon } from 'astro-feather';
---
 <footer>
        <div class="container">
            <div class="footer-grid">
                <div>
                    <h3>Shutter Squad Collective</h3>
                    <p>Capturing life's most precious moments with passion and creativity.</p>
                </div>
                <div>
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/grufos-page/">Home</a></li>
                        <li><a href="/grufos-page/fotografos">Fotografos</a></li>
                        <li><a href="/grufos-page/acerca">Acerca</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><InstagramIcon /></a>
                        <a href="#"><FacebookIcon /></a>
                        <a href="#"><TwitterIcon /></a>
                        <a href="#"><YoutubeIcon /></a>
                    </div>
                </div>
                <div>
                    <h4>Newsletter</h4>
                    <p>Subscribe to our latest updates</p>
                    <div class="newsletter-form">
                        <input type="email" placeholder="Your email">
                        <button>
                            <SendIcon />
                        </button>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2023 Shutter Squad Collective. All rights reserved.</p>
            </div>
        </div>
    </footer>
