---
import '../styles/components/Footer.scss';
import { InstagramIcon, FacebookIcon, TwitterIcon, YoutubeIcon, SendIcon } from 'astro-feather';

const year = new Date().getFullYear();

---
 <footer>
        <div class="container">
            <div class="footer-grid">
                <div>
                    <h3>Colectivo GRUFOS</h3>
                    <p>Por la pasion a la fotogragia.</p>
                </div>
                <div>
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="/grufos-page/">Home</a></li>
                        <li><a href="/grufos-page/fotografos">Fotografos</a></li>
                        <li><a href="/grufos-page/acerca">Acerca</a></li>
                    </ul>
                </div>
                <div>
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#"><InstagramIcon /></a>
                        <a href="#"><FacebookIcon /></a>
                        <a href="#"><TwitterIcon /></a>
                        <a href="#"><YoutubeIcon /></a>
                    </div>
                </div>
                <div>
                    <!-- <h4>Newsletter</h4>
                    <p>Subscribe to our latest updates</p>
                    <div class="newsletter-form">
                        <input type="email" placeholder="Your email">
                        <button>
                            <SendIcon />
                        </button>
                    </div> -->
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; {{year}} Colectivo GRUFOS. todos los derechos reservado.</p>
            </div>
        </div>
    </footer>
