@use '../styles/global.scss';

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;

  &__item {
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    position: relative;

    &:hover .gallery__info {
      opacity: 1;
    }
  }

  &__image {
    width: 100%;
    height: 16rem;
    object-fit: cover;
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 1rem;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }

  &__title {
    font-size: 1.125rem;
    font-weight: bold;
    margin: 0 0 6px;
  }

  &__photographer {
    font-size: 0.875rem;
    margin: 0 0 6px;
  }

  &__category {
    font-size: 0.875rem;
    margin: 0 0 6px;
  }
}
