---
import '../styles/components/Header.scss';
---
<header class="header">
  <nav class="header__nav">
    <a href="/" class="header__logo">GRUFOS</a>
    <div class="header__links">
      <!-- <a href="/" class="header__link">Home</a> -->
      <a href="/fotografos" class="header__link">Fotografos</a>
      <a href="/acerca" class="header__link">Acerca</a>
    </div>
  </nav>
</header>
