---
import '../styles/components/PhotographerCard.scss';
import type { CollectionEntry } from 'astro:content';

interface Props {
  photographer: CollectionEntry<'photographers'>;
}

const { photographer } = Astro.props;
const { slug } = photographer;
---

<a href={`/fotografos/${slug}`} class="photographer-card">
  <div class="photographer-card__image">
    <img src={photographer.data.image} alt={photographer.data.name} />
  </div>
  <h2 class="photographer-card__name">{photographer.data.name}</h2>
</a>
