.social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &__link {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;

    &:hover {
      color: var(--accent);
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
